.spinner.hidden {
  display: none;
}

.spinner {
  width: 4rem;
  height: 4rem;

  margin: 2rem 0;

  border: 3px solid var(--color-dark-secondary);
  border-top: 3px solid var(--color-primary);

  border-radius: 50%;

  animation: spin 0.8s ease infinite;
}
