{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "@babel/preset-typescript"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "@config": "./src/api/config",
          "@data": "./src/api/data",
          "@boot": "./src/boot",
          "@shared": "./src/shared"
        }
      }
    ]
  ],
  "comments": false
}
