<!DOCTYPE html>
<html lang="pt-br" translate="yes">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#6e3cbc" />
    <meta name="msapplication-navbutton-color" content="#6e3cbc" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#6e3cbc" />

    <link rel="shortcut icon" href="/assets/icons/error.svg" />
    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/animations/animations.styles.css" />
    <link rel="stylesheet" href="/styles/pages/404.styles.css" />

    <title>Go Baron | 404</title>
  </head>
  <body>
    <div id="root">
      <main class="main-container">
        <section class="not-found">
          <h1 class="not-found__title" title="404">
            <span class="not-found__letter">4</span>
            <span class="not-found__letter">0</span>
            <span class="not-found__letter">4</span>
            <span class="not-found__letter not-found__letter--dot">.</span>
            <span class="not-found__letter not-found__letter--dot">.</span>
            <span class="not-found__letter not-found__letter--dot">.</span>
          </h1>

          <h2 class="not-found__info">
            Você está procurando um <br />
            recurso que não existe ou foi removido.
          </h2>

          <p class="not-found__text">
            Entre em contato com o suporte caso esse erro persista. Nosso
            conselho é você que pressione o botão abaixo para voltar à Home ou a
            página principal. Até breve!

            <span class="not-found-team">Atenciosamente: Equipe.</span>
          </p>

          <a href="/" class="not-found__link">
            <img
              src="/assets/arrow-right.svg"
              class="arrow-right"
              alt="Arrow right icon"
            />
            <span>Voltar ao início</span>
          </a>
        </section>
      </main>
    </div>
  </body>
</html>
