<!DOCTYPE html>
<html lang="en" translate="yes">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="X-UA-Compatible" content="IE=7" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#6e3cbc" />
    <meta name="msapplication-navbutton-color" content="#6e3cbc" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="#6e3cbc" />

    <link rel="stylesheet" href="/styles/global.css" />
    <link rel="stylesheet" href="/styles/animations/animations.styles.css" />

    <link rel="stylesheet" href="/styles/components/spinner.styles.css" />
    <link rel="stylesheet" href="/styles/pages/home.styles.css" />
    <title>Go Baron | HOME</title>
  </head>
  <body>
    <div id="root" data-id="root">
      <main class="main-container">
        <div class="views">
          <img class="views__icon" src="/assets/public-icon.svg" />
          <output class="views__output hidden">200</output>

          <!-- Loader/spinner -->
          <%- include('partials/spinner.partial.ejs', { visible: true }); %>

          <span class="views__text">
            Visualizações totais. <br />
            Atualize a página para modificar/total.
          </span>
        </div>

        <span class="public-text">
          Acesse a API através da URL:
          <a target="_blank" href="/api/v1/hits">/api</a>
        </span>
      </main>
    </div>

    <!-- Github floating button/anchor -->
    <%- include('./partials/github.partial.ejs'); %>
  </body>
</html>
