<button class="feedback-floating" data-id="modal-floating">
  <img
    src="/assets/arrow-down-more.svg"
    class="feedback-floating__icon"
    alt="More icon/Exibir modal de expreriências."
    title="Cadastre suas expreriências"
  />
</button>
