<a
  class="github-floating"
  href="https://github.com/lucasbernardol/go-baron"
  target="_blank"
  title="Repositório Git - Github"
  data-id="github-floating"
>
  <img
    src="/assets/github-icon.svg"
    class="github-floating__icon"
    alt="Github icon"
  />
</a>
