<div class="tooltip <%= visible ? '' : "hidden" %>" data-id="tooltip-modal">
  <span class="tooltip__text">
    Agradecemos sua colaboração, atenciosamente
    <strong>equipe.</strong>
  </span>
</div>
